.acc-panel {
    .input-headline {
        font-size: 15px;
        line-height: 17px;
        font-weight: 400;
        width: 300px;
        margin: 5px 0;
    }
}

.acc-box {
    padding: 80px 80px;
  }

.acc-btn {
    font-size: 15px; 
    height: 40px;
}

.acc-text {
    font-size: 40px;
    margin: 0;
}

.acc-icon {
    font-size: 100px;
    height: 100px; 
    width: 100px; 
    color: antiquewhite;
}