<div>
  <h1 mat-dialog-title>Historia</h1>
  <div mat-dialog-content fxLayoutAlign="center" style="height: 340px">
    <mat-list role="list" style="height: 330px; overflow: auto" *ngIf="values.length > 0">
      <mat-list-item role="listitem" *ngFor="let value of values"
        ><div><span style="font-weight: bold; margin-right: 10px;">{{value.split(':')[1]}}</span></div>
        <button mat-icon-button color="secondary" class="download-btn" (click)="downloadValue(value)">
          <mat-icon>get_app</mat-icon>
        </button></mat-list-item
      >
    </mat-list>
    <div *ngIf="values.length === 0">Brak historii</div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>
      Zamknij
    </button>
  </mat-dialog-actions>
</div>
