.sub-container-admin-fos {
    background-color: rgba(39, 42, 49, 1);
    border: rgba(112, 112, 112, 1) 1px solid;
    height: 60vh;
    width: 35vw;
    margin-top: 10vh;
}

.sub-container-admin-specs {
    margin-left: 20px;
    background-color: rgba(39, 42, 49, 1);
    border: rgba(112, 112, 112, 1) 1px solid;
    height: 40vh;
    width: 25vw;
    margin-top: 30vh;
}