<div class="page-header">
    <div>
        <div fxLayout="row"
             fxLayoutGap="40px"
             fxLayoutAlign="start center"
             style="margin-top: 70px;">
            <div class="panel-tile"
                 fxLayoutAlign="start end"
                 [routerLink]="'/view-syllabuses'">
                <div>
                    <p>Dokumenty</p>
                    <p>kierunku</p>
                </div>
            </div>
            <div class="panel-tile"
                 fxLayoutAlign="start end"
                 [routerLink]="'/syllabus-choose'">
                <div>
                    <p>Programy</p>
                    <p>studiów</p>
                    <p>(edycja)</p>
                </div>
            </div>
            <div class="panel-tile"
                 fxLayoutAlign="start end"
                 [routerLink]="'/accept-syllabus'">
                <div>
                    <p>Programy</p>
                    <p>studiów</p>
                    <p>(akceptacja)</p>
                </div>
            </div>
        </div>
        <div fxLayout="row"
             fxLayoutGap="40px"
             fxLayoutAlign="start center"
             style="margin-top: 70px;">
            <div class="panel-tile"
                 fxLayoutAlign="start end"
                 [routerLink]="'/przedmiotylista'">
                <div>
                    <p>Przedmioty</p>
                </div>
            </div>
            <div class="panel-tile"
                 fxLayoutAlign="start end"
                 [routerLink]="'/efektychoose'">
                <div>
                    <p>Efekty</p>
                    <p>uczenia się</p>
                </div>
            </div>
            <div class="panel-tile"
                 fxLayoutAlign="start end"
                 [routerLink]="'/admin-panel'">
                <div>
                    <p>Administracja</p>
                </div>
            </div>
        </div>
    </div>
</div>