.sub-desc-container {
  height: 100%;
  width: 98%;
  margin: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #D8D5CE;

  .suv-description-left-container {
    width: 40%;
    height: 100%;
    padding: 0.75rem;

    mat-form-field {
      width: 100%;
    }
  }

  .suv-description-right-container {
    width: 60%;
    height: 100%;
    padding: 0.75rem;

    mat-form-field {
      width: 100%;
    }

    .suv-description-guard {
  button{
    margin-left: 1rem;
    mat-icon{
      font-size: 2rem;
    }
  }
    }

    .suv-description-teacher {
      margin-top: 10%;

      mat-form-field {
        width: 60%;
      }
      button{
        margin-left: 1rem;
        mat-icon{
          font-size: 3rem;
        }
      }
    }

  }

}
