<div>
  <form [formGroup]="litForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Autorzy"
        formControlName="authors"
        required
      />
      <mat-error> Pole wymagane </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Tytuł"
        formControlName="title"
        required
      />
      <mat-error> Pole wymagane </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Wydawca"
        formControlName="distributor"
      />
    </mat-form-field>
    <br />
    <mat-checkbox formControlName="isPrimary">podstawowa</mat-checkbox>
    <br />
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Rok wydania"
        formControlName="year"
      />
      <mat-error> Rok nie może być ujemny i nie może przekraczać obecnego </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Number ISBN"
        formControlName="isbn"
        required
        pattern="^(?:ISBN(?:-13)?:?\ )?(?=[0-9]{13}$|(?=(?:[0-9]+[-\ ]){4})[-\ 0-9]{17}$)97[89][-\ ]?[0-9]{1,5}[-\ ]?[0-9]+[-\ ]?[0-9]+[-\ ]?[0-9]$"
      />
      <mat-error> Niepoprawny format </mat-error>
    </mat-form-field>
    <br />
  </form>
  <div>
    <button mat-icon-button (click)="delete()"><mat-icon>delete_outline</mat-icon></button>
    <button mat-icon-button (click)="save()" [disabled]="!litForm.valid"><mat-icon>done</mat-icon></button>
  </div>
</div>
