<div fxLayoutAlign="space-between" fxLayoutGap="20px">
  <button (click)="save.emit()" [disabled]="!canSave">Zapisz</button>
  <button *ngIf="!blockSaveAs" (click)="saveAs.emit()">Zapisz jako</button>
  <button (click)="import.emit()" [disabled]="isNew || !canSave">Importuj z</button>
  <button (click)="close.emit()">Zamknij</button>
  <button (click)="delete.emit()" [disabled]="!canSave">Usuń</button>
  <button (click)="pdf.emit()">PDF</button>
  <button (click)="history.emit()">Historia</button>
</div>
