.buttons-bar {
  background-color: #272A31;
  border: rgba(112, 112, 112, 1) 1px solid;
  float: left;
}

button {
  padding: 0.25rem 2rem;
  white-space: nowrap;
  text-align: center;
  font-style: normal;
  font-weight: lighter;
  font-size: 1rem;
  background-color: #272A31;
  color: rgba(255,255,255,1);
}
