<div class="buttons-bar">
  <button mat-basic-button (click)="save.emit()" [disabled]="!canSave">Zapisz</button>
  <button mat-basic-button *ngIf="!blockSaveAs" (click)="saveAs.emit()">Zapisz jako</button>
  <button mat-basic-button (click)="import.emit()" [disabled]="isNew || !canSave">Importuj z</button>
  <button mat-basic-button (click)="pdf.emit()" [disabled]="isNew">PDF</button>
  <button mat-basic-button (click)="history.emit()" [disabled]="isNew">Historia</button>
  <button mat-basic-button (click)="close.emit()">Zamknij</button>
  <button mat-basic-button (click)="askToDelete()" [disabled]="isNew || !canSave">
    <mat-icon>delete</mat-icon>
    Usuń</button>
</div>
