p {
  font-family: Lato;
}

.main_content-container {
  width: 100%;
  height: 100vh;
  background: #efefef;
}

.sidenav-container{
  background-color: #8f0303;
}

.material-icons.color_white { color: #D8D5CE; }
