.sub-container {
  display: block;
  margin: auto auto auto 15%;
  font-size: 1em;
}

::ng-deep .title-container {
  position: absolute;
  text-align: right;
  margin-left: 15%;
  margin-top: 10%;
}

.cards {
  margin-top: 2rem;
}
