<div>
    <div>
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/efektycrud'">
            Efekty uczenia się CRUD
        </button>
    </div>

    <div style="margin-top: 20px">
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/kierunkicrud'">
            Kierunki studiów CRUD
        </button>
    </div>

    <div style="margin-top: 20px">
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/login'">
            Login
        </button>
    </div>

    <div style="margin-top: 20px">
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/forgotten-password'">
            Zapomniane hasło
        </button>
    </div>

    <div style="margin-top: 20px">
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/account'">
            Konto
        </button>
    </div>

    <div style="margin-top: 20px">
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/admin-panel'">
            Admin
        </button>
    </div>

    <div style="margin-top: 20px">
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/kontacrud'">
            Konta CRUD
        </button>
    </div>

    <div style="margin-top: 20px">
        <button mat-raised-button
                color="secondary"
                [routerLink]="'/efektychoose'">
            Wybór efektów uczenia się
        </button>

        <div style="margin-top: 20px">
            <button mat-raised-button
                    color="secondary"
                    [routerLink]="'/przedmiotylista'">
                Przedmioty lista
            </button>
        </div>

        <div style="margin-top: 20px">
            <button mat-raised-button
                    color="secondary"
                    [routerLink]="'/przedmiotycrud'">
                Karty przedmiotów CRUD
            </button>
        </div>

        <div style="margin-top: 20px">
            <button mat-raised-button
                    color="secondary"
                    [routerLink]="'/main'">
                Menu główne
            </button>
        </div>
    </div>
</div>