<div fxLayoutAlign="start" fxLayoutGap="30px">
    <div>
      <div *ngIf="document.lessons.length > 0">
        <app-sub-lesson-elem
          *ngFor="let elem of document.lessons"
          [elem]="elem"
          [selected]="selected"
          (selectedElem)="select($event)"
        ></app-sub-lesson-elem>
      </div>
      <div *ngIf="document.lessons.length === 0">Brak wpisów</div>
      <button (click)="add()">Dodaj</button>
    </div>
    <div>
      <app-sub-lesson-edit
        *ngIf="selected"
        [elem]="selected"
        (deleted)="delete()"
        (saved)="save($event)"
      ></app-sub-lesson-edit>
    </div>
  </div>
  