<div class="subject-container">
  <div>
    <div *ngIf="document.lessons.length > 0">
      <app-sub-lesson-elem
        *ngFor="let elem of document.lessons"
        [elem]="elem"
        [selected]="selected"
        (selectedElem)="select($event)"
      ></app-sub-lesson-elem>
    </div>
    <div class="info">
      <div *ngIf="document.lessons.length === 0">Brak wpisów</div>
      <button *ngIf="!readOnly" mat-icon-button (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>
  <div>
    <app-sub-lesson-edit
      [readOnly]="readOnly"
      *ngIf="selected"
      [elem]="selected"
      (deleted)="delete()"
      (saved)="save($event)"
    ></app-sub-lesson-edit>
  </div>
</div>
