<div *ngIf="document.description">
  <mat-form-field>
    <mat-label>Liczba semestrów</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="document.description.numOfSemesters"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Liczba ECTS</mat-label>
    <input
      matInput
      readonly
      type="number"
      [(ngModel)]="document.description.ects"
    />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Tytuł zawodowy</mat-label>
    <mat-select [(value)]="document.description.professionalTitleAfterGraduation">
      <mat-option *ngFor="let title of titles" [value]="title">{{
        "titles." + title | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Forma zakończenia studiów</mat-label>
    <mat-select [(value)]="document.description.formOfGraduation">
      <mat-option *ngFor="let graduation of graduations" [value]="graduation">{{
        "graduations." + graduation | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Prerekwizyty</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="document.description.prerequisites"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Sylwetka absolwenta</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="document.description.employmentOpportunities"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Możliwość kontynuacji studiów</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="document.description.possibilityOfContinuation"
    />
  </mat-form-field>
</div>
