.description-container {
  color: #D8D5CE;
  font-size: 1rem;
  margin: 2rem 2rem 0 2rem;
  flex-wrap: wrap;
  height: 600px;
  width: 1000px;

  .dropdown {
    margin: 1rem;
    width: 30%;
  }

  .textarea-container {
    width:45%;
    min-height: 20%;
    max-height: 20%;
    margin: 1.2rem 0 ;
    textarea {
      border: 2px solid #707070;
      height: 6rem;
    }
  }
}

.input-field {
  width: 12%;
  margin-right: 1rem;
}



