<div>
  <h2>{{ card.name }}</h2>
  <div *ngIf="card.entries.length > 0">
    <div *ngFor="let entry of card.entries" [appDisable]="readOnly">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput [(ngModel)]="entry.code" required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Opis</mat-label>
        <textarea matInput [(ngModel)]="entry.description" required></textarea>
      </mat-form-field>
      <button *ngIf="!readOnly" mat-icon-button (click)="remove(entry)"><mat-icon>remove</mat-icon></button>
    </div>
  </div>
  <div *ngIf="card.entries.length === 0">Brak wpisów</div>
  <button *ngIf="!readOnly" mat-icon-button (click)="add()"><mat-icon>add</mat-icon></button>
</div>
