<div>
  <h1 mat-dialog-title>History</h1>
  <div mat-dialog-content>
    <mat-list role="list" style="height: 330px; overflow: auto;">
      <mat-list-item role="listitem" class="history-item"><div><span class="round-title">01.11.2020 v1</span><span>202011011</span></div><button mat-mini-fab color="accent" class="download-btn"><mat-icon >get_app</mat-icon></button></mat-list-item>
      <mat-list-item role="listitem" class="history-item"><div><span class="round-title">13.02.2020 v1</span><span>202002131</span></div><button mat-mini-fab color="accent" class="download-btn"><mat-icon >get_app</mat-icon></button></mat-list-item>
      <mat-list-item role="listitem" class="history-item"><div><span class="round-title">02.12.2019 v1</span><span>201912041</span></div><button mat-mini-fab color="accent" class="download-btn"><mat-icon >get_app</mat-icon></button></mat-list-item>
      <mat-list-item role="listitem" class="history-item"><div><span class="round-title">22.08.2018 v1</span><span>201808221</span></div><button mat-mini-fab color="accent" class="download-btn"><mat-icon >get_app</mat-icon></button></mat-list-item>

    </mat-list>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</div>
