<form [formGroup]="userForm">
    <mat-form-field class="example-form-field">
      <mat-label>Imię i nazwisko</mat-label>
      <input matInput type="text" placeholder="Imię i nazwisko" formControlName="userName" required />
      <mat-error> Field required </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Email" formControlName="email" required />
      <mat-error> Field required </mat-error>
    </mat-form-field>
    <br />
    <button (click)="resetPassword()">Zresetuj hasło</button>
  </form>