<div fxLayoutAlign="center" fxLayoutGap="20px" class="sub-lesson-edit-subject-container">
  <div class="sub-lesson-edit-subject">
    <form [formGroup]="lesForm" [appDisable]="readOnly">
      <div class="sub-lesson-edit-dropdown">
        <mat-form-field appearance="outline" class="dropdown">
          <mat-label>Typ zajęć</mat-label>
          <mat-select formControlName="lessonType" required>
            <mat-option *ngFor="let lesson of lessons" [value]="lesson">{{
              "lessons." + lesson | translate
              }}</mat-option>
          </mat-select>
          <mat-error> Pole wymagane </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="dropdown">
          <mat-label>Forma zaliczenia</mat-label>
          <mat-select formControlName="formOfCrediting" required>
            <mat-option
              *ngFor="let crediting of creditings"
              [value]="crediting"
            >{{ "creditings." + crediting | translate }}</mat-option
            >
          </mat-select>
          <mat-error> Pole wymagane </mat-error>
        </mat-form-field>
      </div>
      <div class="sub-lesson-edit-inputs">
        <mat-form-field>
          <mat-label>Liczba ZZU</mat-label>
          <input
            required
            matInput
            type="number"
            formControlName="hoursAtUniversity"
          />
          <mat-error> Pole wymagane, wartości 1-200 </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Liczba CNPS</mat-label>
          <input
            required
            matInput
            type="number"
            formControlName="studentWorkloadHours"
          />
          <mat-error> Pole wymagane, wartości 1-500 </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Liczba ECTS</mat-label>
          <input required matInput type="number" formControlName="ects" />
          <mat-error> Pole wymagane, wartości 0-30 </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Punkty ECTS P</mat-label>
          <input
            matInput
            required
            type="number"
            formControlName="ectsinclPracticalClasses"
          />
          <mat-error> Pole wymagane </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Punkty ECTS BK</mat-label>
          <input
            matInput
            required
            type="number"
            formControlName="ectsinclDirectTeacherStudentContactClasses"
          />
          <mat-error> Pole wymagane </mat-error>
        </mat-form-field>
      </div>
      <mat-checkbox formControlName="isFinal">końcowy</mat-checkbox>
      <br/>
      <mat-checkbox formControlName="isScientific">naukowy</mat-checkbox>
      <br/>
      <mat-checkbox formControlName="isGroup">grupa kursów</mat-checkbox>
    </form>
    <div class="buttons-container">
      <div *ngIf="!readOnly" class="buttons">
        <button mat-icon-button (click)="delete()"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button (click)="save()" [disabled]="!lesForm.valid || !checkClassForm(editableClassForms)"><mat-icon>done</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="sub-lesson-edit-description">
    <h2>Treści programowe</h2>
    <div class="app-sub-lessons-program-container" *ngFor="let entry of editableClassForms" [appDisable]="readOnly">
      <app-sub-lessons-program [entry]="entry">
      </app-sub-lessons-program>
      <button *ngIf="!readOnly" mat-icon-button (click)="remove(entry)"><mat-icon>close</mat-icon></button>
    </div>
    <button *ngIf="!readOnly" mat-icon-button (click)="add()"><mat-icon>add</mat-icon></button>
  </div>
</div>
