
#Rectangle_28 {
  fill: rgba(39, 42, 49, 1);
  stroke: rgba(28, 30, 35, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_28 {
  position: absolute;
  overflow: visible;
  width: 356px;
  height: 34px;
  left: 675px;
  top: 547px;
}

#Rectangle_29 {
  fill: rgba(39, 42, 49, 1);
  stroke: rgba(28, 30, 35, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_29 {
  position: absolute;
  overflow: visible;
  width: 356px;
  height: 34px;
  left: 675px;
  top: 597px;
}



#wybierz-efekty-uczenia {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(28, 30, 35, 1);
  overflow: hidden;
  --web-view-name: wybierz-efekty-uczenia;
  --web-view-id: wybierz-efekty-uczenia;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Rectangle_5 {
  fill: rgba(148, 54, 47, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_5 {
  position: absolute;
  overflow: visible;
  width: 289px;
  height: 1080px;
  left: 0px;
  top: 0px;
}

#Icon_material-home {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-home {
  overflow: visible;
  position: absolute;
  width: 30px;
  height: 25.5px;
  left: 28.5px;
  top: 335.25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_material-insert-drive-fil {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-insert-drive-fil {
  overflow: visible;
  position: absolute;
  width: 24px;
  height: 30px;
  left: 31.9px;
  top: 511px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_map-university {
  fill: rgba(216, 213, 206, 1);
}

.Icon_map-university {
  overflow: visible;
  position: absolute;
  width: 34.458px;
  height: 15.84px;
  left: 27.746px;
  top: 571.08px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_material-filter-frames {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-filter-frames {
  overflow: visible;
  position: absolute;
  width: 30px;
  height: 33px;
  left: 28.7px;
  top: 447.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_material-file-download {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-file-download {
  overflow: visible;
  position: absolute;
  width: 21px;
  height: 25.5px;
  left: 33.4px;
  top: 391.25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_material-settings {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-settings {
  overflow: visible;
  position: absolute;
  width: 29.181px;
  height: 30px;
  left: 30.618px;
  top: 617.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Strona_gwna {
  left: 71px;
  top: 338px;
  position: absolute;
  overflow: visible;
  width: 154px;
  white-space: nowrap;
  text-align: left;
  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(216, 213, 206, 1);
}

#Icon_material-arrow_back {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-arrow_back {
  overflow: visible;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 28.729px;
  top: 100.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Dokumenty {
  left: 71px;
  top: 393px;
  position: absolute;
  overflow: visible;
  width: 122px;
  white-space: nowrap;
  text-align: left;
  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(216, 213, 206, 1);
}

#Programy_studiw {
  left: 71px;
  top: 454px;
  position: absolute;
  overflow: visible;
  width: 193px;
  white-space: nowrap;
  text-align: left;
  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(216, 213, 206, 1);
}

#Przedmioty {
  left: 71px;
  top: 515px;
  position: absolute;
  overflow: visible;
  width: 121px;
  white-space: nowrap;
  text-align: left;
  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(216, 213, 206, 1);
}

#Efekty_uczenia_si {
  left: 71px;
  top: 566px;
  position: absolute;
  overflow: visible;
  width: 194px;
  white-space: nowrap;
  text-align: left;
  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(216, 213, 206, 1);
}

#Administracja {
  left: 71px;
  top: 621px;
  position: absolute;
  overflow: visible;
  width: 145px;
  white-space: nowrap;
  text-align: left;
  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(216, 213, 206, 1);
}

#Rectangle_18 {
  fill: rgba(39, 42, 49, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_18 {
  position: absolute;
  overflow: visible;
  width: 679px;
  height: 478px;
  left: 513px;
  top: 348px;
}

#Wybierz_efekty_uczenia_si {
  left: 594px;
  top: 413px;
  position: absolute;
  overflow: visible;
  width: 535px;
  white-space: nowrap;
  text-align: left;
  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: lighter;
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
}

#Line_8 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_8 {
  overflow: visible;
  position: absolute;
  width: 6.999px;
  height: 78.077px;
  left: 576.5px;
  top: 407.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}


#Icon_material-arrow-drop-down {
  fill: rgba(123, 109, 53, 1);
  stroke: rgba(123, 109, 53, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Icon_material-arrow-drop-down {
  overflow: visible;
  position: absolute;
  width: 17.414px;
  height: 8.707px;
  left: 1009.839px;
  top: 558.964px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_material-arrow-drop-down_bh {
  fill: rgba(123, 109, 53, 1);
  stroke: rgba(123, 109, 53, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Icon_material-arrow-drop-down_bh {
  overflow: visible;
  position: absolute;
  width: 17.414px;
  height: 8.707px;
  left: 1009.839px;
  top: 609.443px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#kierunek_studiw {
  left: 684px;
  top: 550px;
  position: absolute;
  overflow: hidden;
  width: 323px;
  height: 21px;
  text-align: left;
  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: rgba(123, 109, 53, 1);
}

#rok_akademicki {
  left: 684px;
  top: 600px;
  position: absolute;
  overflow: hidden;
  width: 323px;
  height: 21px;
  text-align: left;
  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: rgba(123, 109, 53, 1);
}

#Icon_material-edit {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-edit {
  overflow: visible;
  position: absolute;
  width: 35.247px;
  height: 38.639px;
  left: 868px;
  top: 697.365px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_material-file-download_bl {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-file-download_bl {
  overflow: visible;
  position: absolute;
  width: 30.517px;
  height: 38.835px;
  left: 787.483px;
  top: 697.365px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-user-circle {
  fill: rgba(216, 213, 206, 1);
}

.Icon_awesome-user-circle {
  overflow: visible;
  position: absolute;
  width: 34.875px;
  height: 34.875px;
  left: 25.688px;
  top: 963.563px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_material-exit-to-app {
  fill: rgba(216, 213, 206, 1);
}

.Icon_material-exit-to-app {
  overflow: visible;
  position: absolute;
  width: 27px;
  height: 27px;
  left: 28.75px;
  top: 1022.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
