.subject-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .mat-icon {
    font-size: 3rem;
  }

  & > div:first-child {
    width: 33%;
    height: 100%;
  }

  & > div:last-child {
    width: 67%;
    height: 100%;

    app-syl-subject-edit {
      height: 100%;
    }
  }
}

.info {
  display: flex;
  margin: 0.75rem;
  color: #D8D5CE;

  div {
    line-height: 40px;
  }

  .mat-icon {
    font-size: 2rem;
  }
}
