.yes-no-title {
    text-align: center;
    margin: 0;
}

.question-icon {
    height: 50px;
    font-size: 50px;
    color: lightgray;
}

.yes-no-message {
    height: 170px;
    text-align: center;
}