.lo-center {
  margin: auto;
  width: 50vw;
  padding: 50px;
}

.download-btn {
  font-size: 18px;
  height: 55px;
  display: inline-block;
  margin: 20px;
}

.lo-text {
  font-size: 30px;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
