.sidenav_container {
  min-width: 60px;
  height: calc(100vh - 200px);
  background-color: #94362F;
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.material-icons.color_white { color: #D8D5CE; }
