.mat-toolbar-row, .mat-toolbar-single-row {
    height: 90px;
}

.nav-btn {
    color: #c9c8c8;
    font-weight: bold;
    font-family: OpenSansSemiBold;
    font-size: 16px;
}

.logout-btn {
    color: #c9c8c8;
    font-size: 30px;
    height: 30px;
    width: 30px;
}