.document-details {
    font-size: 20px;
}

.outcome-section {
    margin: 40px 0;
}

table {
    width: 100%;
  }

  .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-description {
    max-width: 35vw;
    width: 35vw;
}