<div class="page-header" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <div>
    <h1> Efekty uczenia się </h1>
  </div>
  <div>
    <button mat-raised-button class="action-button" color="primary">
      <mat-icon class="button-icon">save</mat-icon><span>Zapisz</span>
    </button>
    <button mat-raised-button class="action-button" color="primary">
      <mat-icon class="button-icon">note_add</mat-icon><span>Zapisz jako</span>
    </button>
    <button mat-raised-button class="action-button" color="secondary">
      <mat-icon class="button-icon">close</mat-icon><span>Anuluj</span>
    </button>
  </div>
  <div>
    <button mat-raised-button class="action-button" color="warn">
      <mat-icon class="button-icon">delete</mat-icon><span>Usuń</span>
    </button>
    <button mat-raised-button class="action-button" color="primary">
      <mat-icon class="button-icon">description</mat-icon><span>PDF</span>
    </button>
  </div>
  <div>
    <button mat-raised-button class="action-button" color="accent" (click)="openDialog()">
      <mat-icon class="button-icon">history</mat-icon><span>Historia</span>
    </button>
  </div>
</div>

<div class="basic-info-box">
  <div class="basic-info"><span class="title">Wydział</span><span>Informatyka i Zarządzanie</span></div>
  <div class="basic-info"><span class="title">Kierunek studiów</span><span>informatyka stosowana</span></div>
  <div class="basic-info"><span class="title">Poziom studiów</span><span>studia pierwszego stopnia</span></div>
  <div class="basic-info"><span class="title">Profil</span><span>ogólnoakademicki</span></div>
  <div class="basic-info"><span class="title">Umiejscowienie</span><span>Nauki inżynieryjno-techniczne</span></div>
  <div class="basic-info"><span class="title">Dyscyplina</span><span> Informatyka techniczna i telekomunikacja</span>
  </div>
</div>
<div>
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="flex-start center">
    <div class="document-details">Objaśnienia</div>
    <button mat-raised-button color="secondary" (click)="toggleDetails()"> {{ isDetails ? 'Ukryj' : 'Pokaż' }} </button>
  </div>
  <div *ngIf="isDetails">P6U – charakterystyki uniwersalne odpowiadające kształceniu na studiach pierwszego stopnia - 6
    poziom PRK*<br />
    P7U – charakterystyki uniwersalne odpowiadające kształceniu na studiach drugiego stopnia - 7 poziom PRK*<br />
    P6S – charakterystyki drugiego stopnia odpowiadające kształceniu na studiach pierwszego stopnia studiów - 6 poziom
    PRK *<br />
    P7S – charakterystyki drugiego stopnia odpowiadające kształceniu na studiach drugiego stopnia/ jednolitych
    magisterskich – 7 poziom PRK*<br />
    W – kategoria „wiedza”<br />
    U – kategoria „umiejętności”<br />
    K – kategoria „kompetencje społeczne”<br />
    K(symbol kierunku)_W1, K(symbol kierunku)_W2, K(symbol kierunku)_W3, …- efekty kierunkowe dot. kategorii
    „wiedza”<br />
    K(symbol kierunku)_U1, K(symbol kierunku)_U2, K(symbol kierunku)_U3, …- efekty kierunkowe dot. kategorii
    „umiejętności”<br />
    K(symbol kierunku)_K1, K(symbol kierunku)_K2, K(symbol kierunku)_K3, …- efekty kierunkowe dot. kategorii
    „kompetencje społeczne”<br />
    S(symbol specjalności)_W…, S(symbol specjalności)_W…, S(symbol specjalności)_W…, …- efekty specjalnościowe dot.
    kategorii „wiedza”<br />
    S(symbol specjalności)_U…, S(symbol specjalności)_U…, S(symbol specjalności)_U…, …- efekty specjalnościowe dot.
    kategorii „umiejętności”<br />
    S(symbol specjalności)_K…, S(symbol specjalności)_K…, S(symbol specjalności)_K…, …- efekty specjalnościowe dot.
    kategorii „kompetencje społeczne”<br />
    …._inż – efekty uczenia się umożliwiające uzyskanie kompetencji inżynierskich</div>
</div>

<div class="basic-info outcome-section">
  <h3 class="title center-text">Kierunkowe</h3>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.symbol" [name]="element.symbol">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Opis </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field style="width: 32vw;">
          <textarea rows="5" matInput [value]="element.description" [name]="element.description"></textarea>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="universal">
      <th mat-header-cell *matHeaderCellDef> Uniwersalne charakterystyki (U) </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.universal" [name]="element.universal">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="level6">
      <th mat-header-cell *matHeaderCellDef> Charakterystyki poziomu 6 </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.level6" [name]="element.level6">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="level6eng">
      <th mat-header-cell *matHeaderCellDef> Charakterystyki poziomu 6 inż </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.level6eng" [name]="element.level6eng">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcje </th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-fab color="accent" style="margin:10px">
    <mat-icon>add</mat-icon>
  </button>

</div>

<div class="basic-info outcome-section">
  <h3 class="title center-text">Specjalnościowe</h3>
  <h4 class="sub-title center-text">Danologia</h4>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.symbol" [name]="element.symbol">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Opis </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field style="width: 32vw;">
          <textarea rows="5" matInput [value]="element.description" [name]="element.description"></textarea>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="universal">
      <th mat-header-cell *matHeaderCellDef> Uniwersalne charakterystyki (U) </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.universal" [name]="element.universal">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="level6">
      <th mat-header-cell *matHeaderCellDef> Charakterystyki poziomu 6 </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.level6" [name]="element.level6">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="level6eng">
      <th mat-header-cell *matHeaderCellDef> Charakterystyki poziomu 6 inż </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.level6eng" [name]="element.level6eng">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcje </th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-fab color="accent" style="margin:10px">
    <mat-icon>add</mat-icon>
  </button>


  <h4 style="margin-top: 50px;" class="sub-title center-text">Inżynieria Oprogramowania</h4>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.symbol" [name]="element.symbol">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Opis </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field style="width: 32vw;">
          <textarea rows="5" matInput [value]="element.description" [name]="element.description"></textarea>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="universal">
      <th mat-header-cell *matHeaderCellDef> Uniwersalne charakterystyki (U) </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.universal" [name]="element.universal">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="level6">
      <th mat-header-cell *matHeaderCellDef> Charakterystyki poziomu 6 </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.level6" [name]="element.level6">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="level6eng">
      <th mat-header-cell *matHeaderCellDef> Charakterystyki poziomu 6 inż </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width">
          <input matInput [value]="element.level6eng" [name]="element.level6eng">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcje </th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-fab color="accent" style="margin:10px">
    <mat-icon>add</mat-icon>
  </button>
</div>