<h2>Wybierz {{ title }}</h2>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Wybierz kierunek studiów</mat-label>
    <mat-select [(value)]="selectedFos" (selectionChange)="selectedFosChanged()">
      <mat-option *ngFor="let fos of fieldsOfStudy" [value]="fos">{{
        fos.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="isSpec">
  <mat-form-field appearance="fill">
    <mat-label>Wybierz specjalizację</mat-label>
    <mat-select [(value)]="selectedSpec" (selectionChange)="selectSpec.emit(selectedSpec)">
      <mat-option *ngFor="let spec of specs" [value]="spec">{{
        spec.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Wybierz rok akademicki</mat-label>
    <mat-select [(value)]="selectedYear" (selectionChange)="selectYear.emit(selectedYear)">
      <mat-option *ngFor="let year of years" [value]="year">{{
        year
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button *ngIf="visibleButtons" (click)="download()" [disabled]="!selectedFos || !selectedYear || (isSpec && !selectedSpec)">
  Download
</button>
<button *ngIf="visibleButtons" (click)="edit()" [disabled]="!selectedFos || !selectedYear || (isSpec && !selectedSpec)">
  Edit
</button>
