<div class="lo-doc-edit-container">
  <mat-tab-group mat-align-tabs="start" id="tab-group">
    <mat-tab label="Kierunkowe">
      <div class="lo-list-container">
        <div class="lo-list-container-fos">
          <app-lo-list
            [elems]="filterFieldLos(_document.learningOutcomes)"
            (selectedElem)="selectLo($event)"
          ></app-lo-list>
          <button mat-icon-button (click)="newLo(null)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <app-lo-edit class="lo-edit-container" *ngIf="selectedLo" [elem]="selectedLo" [isNew]="isNew(selectedLo)"
                     (deletedLo)="deleteLo()" (savedLo)="saveLo($event)"></app-lo-edit>
      </div>
    </mat-tab>
    <mat-tab label="Specjalnościowe">
      <div class="lo-list-container">
        <div class="lo-list-container-spec">
          <mat-form-field appearance="outline" class="dropdown">
            <mat-label>Wybierz specjalizację</mat-label>
            <mat-select [(value)]="selectedSpec" (selectionChange)="selectedLo = null">
              <mat-option *ngFor="let spec of specs" [value]="spec">{{
                spec.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <app-lo-list
            [elems]="filterSpecLos(_document.learningOutcomes, selectedSpec)"
            (selectedElem)="selectLo($event)"
            [selected]="selectedLo"
          ></app-lo-list>
          <button mat-icon-button [disabled]="!selectedSpec" (click)="newLo(selectedSpec)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <app-lo-edit class="lo-edit-container" *ngIf="selectedLo" [elem]="selectedLo" [isNew]="isNew(selectedLo)"
                     (deletedLo)="deleteLo()" (savedLo)="saveLo($event)"></app-lo-edit>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
