.subject-card {
  width: 89.5%;
  margin: 0.18rem;
  background-color: #1C1E23;
  border:none;
  padding: 0.5rem;

  .subjects {
    color: #D8D5CE;
    font-size: 1rem;
    display: inline;

    span {
      white-space: nowrap;
    }
  }
}

