<div class="main-container">
  <app-backgroud-logged-in class="background" [mainTitle]="mainTitle" [subtitle]="subtitle"></app-backgroud-logged-in>


  <div class="sub-container">
    <mat-card *ngIf="user" >
      <mat-card-content>
<!--        <button mat-basic-icon>-->
<!--          <mat-icon>user</mat-icon>-->
<!--        </button>-->

        <span>Name: </span><span>{{ user?.name }}</span>
        <br />
        <span>Email: </span><span>{{ user?.email }}</span>
      </mat-card-content>
    </mat-card>
    <div *ngIf="!user">Brak danych użytkownika</div>

<!--    <div *ngIf="user">-->
<!--      <mat-icon>user</mat-icon>-->
<!--        <span>Name:</span><span>{{ user?.name }}</span>-->
<!--      <br />-->
<!--      <span>Email:</span><span>{{ user?.email }}</span>-->
<!--    </div>-->
<!--    <div *ngIf="!user">Brak danych użytkownika</div>-->
  </div>
</div>
