<mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="searchPhrase" (input)="filterElements()">
    <button mat-button *ngIf="searchPhrase" matSuffix mat-icon-button aria-label="Clear" (click)="searchPhrase=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button (click)="newElement()">New element</button>
  <button (click)="goBack()">Back</button>
<div *ngFor="let element of filteredElements" (click)="selectElement(element)" [ngClass]="{'selected' : selectedId === element.id}">
    <p>{{ element.name }}</p>
</div>
