.sub-container-admin-sub {
  background-color: rgba(39, 42, 49, 1);
  border: rgba(112, 112, 112, 1) 1px solid;
  height: 60vh;
  width: 18vw;
}

.list-elem {
  background-color: rgba(28, 30, 35, 1);
  color: rgba(241, 239, 236, 1); 
  padding: 10px;
  margin: 5px 0;
}

.selected {
  background-color: #7B6D35 !important;
}

.elems-list-box {
    height: 53vh;
    overflow: auto;
}

.action-btn {
  height: 50px !important;
  width: 50px !important;
  font-size: 50px !important;
  line-height: 1 !important;
}


.search-field {
    width: 16vw;
}