.lo-center {
    margin: auto;
    width: 50vw;
    padding: 50px;
  }

.open-btn {
    font-size: 18px; 
    height: 55px;display: 
    block;margin: 0 auto;
}

.lo-text {
    font-size: 30px;
    text-align: center;
}

.download-btn {
    font-size: 18px;
    height: 55px;
    display: inline-block;
    margin: 20px;
  }
  