<button (click)="resetPassword()">Zresetuj hasło</button>
<button (click)="saveUser()">Zapisz</button>
<button (click)="removeUser()" *ngIf="originalUser.id !== guidEmpty">Usuń</button>
<button (click)="addRole()">Przypisz rolę</button>
<div>
    <p>{{ originalUser.id }}</p>
    <p>{{ originalUser.userName }}</p>

  <mat-form-field class="example-form-field">
    <mat-label>Imię i nazwisko</mat-label>
    <input matInput type="text" [(ngModel)]="editableUser.userName">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="editableUser.email">
  </mat-form-field>
</div>
