<div fxLayoutAlign="start start" fxLayoutGap="30px">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Dane">
        <app-sub-description [document]="_document"></app-sub-description>
      </mat-tab>
      <mat-tab label="Zajęcia">
      </mat-tab>
      <mat-tab label="Literatura">
        <app-sub-literature [document]="_document"></app-sub-literature>
      </mat-tab>
      <mat-tab label="Efekty uczenia się">
      </mat-tab>
      <mat-tab label="Wymagania wstępne">
        <app-sub-card [card]="getCardEntry(preEntry)"></app-sub-card>
      </mat-tab>
      <mat-tab label="Cele przedmiotu">
        <app-sub-card [card]="getCardEntry(goalEntry)"></app-sub-card>
      </mat-tab>
      <mat-tab label="Narzędzia dydaktyczne">
          <app-sub-card [card]="getCardEntry(teachEntry)"></app-sub-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  