<div>
  <h1 mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content style="height: 340px" fxLayoutAlign="center center">
    <app-fos-year-picker
      [visibleButtons]="false"
      [isSpec]="isSpec"
      [allFields]="allFields"
      (selectFos)="selectedFos = $event"
      (selectYear)="selectedYear = $event"
      (selectSpec)="selectedSpec = $event"
    ></app-fos-year-picker>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!selectedFos || !selectedYear || (isSpec && !selectedSpec)">Zatwierdź</button>
    <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial>
      Anuluj
    </button>
  </mat-dialog-actions>
</div>
