.document-details {
  font-size: 20px;
}

.outcome-section {
  margin: 40px 0;
}

table {
  width: 100%;
}

.mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-description {
  max-width: 35vw;
  width: 35vw;
}

.mat-input-mini-description {
  max-width: 2vw;
  width: 2vw;
}

.mat-input-midi-description {
  max-width: 3vw;
  width: 3vw;
}
.mat-input-maxi-description {
  max-width: 18vw;
  width: 18vw;
}

.main_window{
  width: 100%;
}

.inputlabel{
  margin: 5px;
}

.classes-type-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
