body {
  font-size: 1vw;
  font-family: Microsoft YaHei;
}

.main-container{
  #window {
    position: absolute;
    overflow: visible;
    width: 679px;
    height: 478px;
    left: 313px;
    top: 248px;

    rect {
      fill: rgba(39, 42, 49, 1);
      stroke: rgba(112, 112, 112, 1);
      stroke-width: 1px;
      stroke-linejoin: miter;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
      shape-rendering: auto;
    }
  }

  .line {
    overflow: visible;
    position: absolute;
    width: 6.999px;
    height: 78.077px;
    left: 360px;
    top: 280px;

    path {
      fill: transparent;
      stroke: rgba(112, 112, 112, 1);
      stroke-width: 6px;
    }
  }

  #dropdown{
    overflow: visible;
    position: absolute;
    left: 535px;
    top: 390px;
  }
}

