<div>
  <div>{{ isNew ? "Nowy wpis" : "Edycja wpisu" }}</div>
  <form [formGroup]="loForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Symbol efektu"
        formControlName="symbol"
        required
      />
      <mat-error> Pole wymagane </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Kategoria</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let cat of categories" [value]="cat">{{
          "categories." + cat | translate
        }}</mat-option>
      </mat-select>
      <mat-error> Pole wymagane </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea
        matInput
        type="text"
        placeholder="Opis"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Uniwersalne charakterystyki (U)"
        formControlName="u1degreeCharacteristics"
        required
      />
      <mat-error> Pole wymagane </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="	Charakterystyki poziomu 6"
        formControlName="s2degreePrk"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="	Charakterystyki poziomu 6 inż"
        formControlName="s2degreePrkeng"
      />
    </mat-form-field>
  </form>
  <div>
    <button (click)="delete()" [disabled]="isNew">Usuń</button>
    <button (click)="save()" [disabled]="!loForm.valid">Zapisz</button>
  </div>
</div>
