<mat-card fxLayoutAlign="center center" class="forg-pass-center">
    <mat-card-content>
      <h2 class="forg-pass-text">Zapomniane hasło</h2>
      <label>Dla Twojego konta zostanie wygenerowane nowe hasło i przesłane na adres email.</label>
      <div class="forg-pass-panel">
        <mat-form-field class="input-headline">
          <input matInput placeholder="Email" required /><mat-error>
            Pole nie może być puste
          </mat-error>
        </mat-form-field>
      </div>
  
      <button mat-raised-button color="accent" class="forg-pass-btn" [routerLink]="'/login'">Wyślij</button>
    </mat-card-content>
  </mat-card>
  