body {
  font-size: 1vw;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(28, 30, 35, 1);
  background-color: rgba(28, 30, 35, 1);
  overflow: hidden;
  display: flex;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
  font-size: 1.21vw;
}

.background {
  .polygon-left {
    overflow: visible;
    position: absolute;
    width: 75.8%;
    height: 80.2%;
    transform: matrix(1, 0, 0, 1, -583.1332, -93.9199) rotate(-18deg);
    transform-origin: center;
    left: 0px;
    top: 0px;

    path {
      opacity: 0.57;
      fill: rgba(188, 158, 35, 1);
      stroke: rgba(188, 158, 35, 1);
      stroke-width: 1px;
      stroke-linejoin: miter;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
      shape-rendering: auto;
    }
  }

  .polygon-right {
    filter: drop-shadow(0px 25px 49px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 148%;
    height: 108.23%;
    transform: matrix(1, 0, 0, 1, -238, -6) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;

    path {
      opacity: 0.92;
      fill: rgba(154, 52, 45, 1);
    }
  }
}

.login-form-container {
  width: 39.36%;
  margin: auto;
  z-index: 999;
  background-color: rgba(39, 42, 49, 1);
  border: rgba(112, 112, 112, 1) 1px solid;

  .logo-bez-tla {
    width: 18.15%;
    height: auto;
    display: block;
    margin: 2.75em auto 1.5em;
  }

  .login-form {
    width: 61.6%;
    margin: 3.5em auto 0;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    color: rgba(112, 112, 112, 1);

    .login-element {
      width: 100%;
      white-space: nowrap;
      text-align: left;
      font-size: 1em;
      color: rgba(112, 112, 112, 1);
    }

    .controls-container {
      display: block;
      clear: both;
      margin: 3.75em auto;
      .controls {
        margin: auto;
        line-height: 2.25em;

        .password-reset {
          font-size: 1em;
          vertical-align: center;
        }

        .login-button {
          opacity: 0.92;
          background-color: rgba(154, 52, 45, 1);
          font-size: 1em;
          font-weight: bold;
          line-height: 2.25em;
          float: right;
          width: 8.5em;
          height: 3em;
        }
      }
    }
  }
}
