.login-card {
    max-width: 35vw;
    margin: 2em auto;
    margin-top: 10vh;
    text-align: center;
  }

  .login-element {
      margin: 10px 0;
      width: 30vw;
  }

  .login-button {
      margin-top: 20px;
  }

  .login-text {
    font-size: 35px;
  }