<div>
    <app-fos-details-element name="Wydział" [content]="fos.faculty"></app-fos-details-element>
    <app-fos-details-element name="Kierunek studiów" [content]="fos.name"></app-fos-details-element>
    <app-fos-details-element *ngIf="specialization" name="Specjalizacja" [content]="specialization.name"></app-fos-details-element>
    <app-fos-details-element name="Język" [translatedContent]="'languages.' + fos.language"></app-fos-details-element>
    <app-fos-details-element name="Rok akademicki" [content]="year"></app-fos-details-element>
    <app-fos-details-element name="Poziom" [translatedContent]="'levels.' + fos.level"></app-fos-details-element>
    <app-fos-details-element name="Tryb" [translatedContent]="'types.' + fos.type"></app-fos-details-element>
    <app-fos-details-element name="Profil" [translatedContent]="'profiles.' + fos.profile"></app-fos-details-element>
    <app-fos-details-element name="Umiejscowienie" [content]="fos.branchOfScience ? fos.branchOfScience : 'brak'"></app-fos-details-element>
    <app-fos-details-element name="Dyscyplina" [content]="fos.discipline ? fos.discipline : 'brak'"></app-fos-details-element>
</div>
