.sub-learn-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 98%;
  height: 100%;
  color: #D8D5CE;
  margin: 0.75rem;

  .mat-icon {
    font-size: 3rem;
  }

  & > div:first-child {
    width: 30%;
    height: 100%;
  }

  & > div:last-child {
    width: 70%;
    height: 100%;

    app-sub-lit-edit {
      height: 100%;
    }
  }
}
