.sub-details-container {
  h2 {
    text-align: center;
  }
}

.subject-details-box {
  div {
    margin: 15px 0;
    text-align: left ;
  }

  span {
    font-weight: bold;
    margin-right: 5px;
  }
}
