.main-container {
  display: flex;
  justify-content: center;
  align-content: center;

  .sub-container {
    width: 55.5%;
    height: 58%;
    margin-top: 12.5%;

    .buttons_container {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template: 30% 40% 30% / 50% 25% 25%;
      grid-gap: 0.3rem;

      button {
        background-color: rgba(39, 42, 49, 1);
        color: rgba(216, 213, 206, 1);

        &:disabled {
          color: rgb(100, 100, 100);
        }

        &.button_syllabus {
          grid-area: 1/1/3/2;

          mat-icon {
            width: 12rem;
            height: 12rem;
            font-size: 12rem;
            padding-top: 17%;
          }

          span {
            padding-top: 9%;
          }
        }

        &.button_docs {
          grid-area: 1/2/2/4;
        }

        &.button_accept {
          grid-area: 2/2/3/3;
        }

        &.button_subject {
          grid-area: 2/3/3/4;
        }

        &.button_learning_outcome {
          grid-area: 3/1/4/2;
        }

        &.button_admin {
          grid-area: 3/2/4/4;
        }

        mat-icon {
          width: 3rem;
          height: 3rem;
          padding-top: 5%;
          font-size: 3rem;
        }

        span {
          display: block;
          text-align: right;
          padding-top: 5%;
          font-size: 1.5rem;
        }

        &.button_subject, &.button_accept {
          mat-icon {
            padding-top: 25%;
          }
          span {
            padding-top: 25%;
          }
        }
      }
    }
  }
}
