<div class="main-container">
  <app-backgroud-logged-in
    class="background"
    mainTitle="Panel zarządzania"
  ></app-backgroud-logged-in>
  <div class="sub-container buttons" fxLayoutAlign="start start" fxLayoutGap="20px">
    <button
          mat-raised-button
          color="primary"
          [routerLink]="'/admin/manage-users'"
        >
          Użytkownicy
        </button>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="'/admin/manage-fields-of-studies'"
        >
          Kierunki studiów
        </button>
    </div>
  </div>
