@import '~@angular/material/theming';

@include mat-core();

@font-face {
  font-family: OpenSansLight;
  src: url(assets/OpenSansLight.ttf) format("truetype");
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url(assets/OpenSansSemiBold.ttf) format("truetype");
}


$pwr-red-palette: (
  50 : #f7e5e4,
  100 : #eabfbc,
  200 : #dc9590,
  300 : #ce6a63,
  400 : #c44a41,
  500 : #920707,
  600 : #8f0303,
  700 : #700404,
  800 : #700404,
  900 : #700404,
  A100 : #ffc3c2,
  A200 : #ff918f,
  A400 : #ff5e5c,
  A700 : #ff4542,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$pwr-cream-palette: (
  50 : #fdf9f4,
  100 : #fbf1e3,
  200 : #f8e8d1,
  300 : #f5dfbe,
  400 : #f3d8b0,
  500 : #f1d1a2,
  600 : #efcc9a,
  700 : #edc690,
  800 : #ebc086,
  900 : #e7b575,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fffffe,
  A700 : #fff3e5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-typography: mat-typography-config(
  $font-family: 'Yu Gothic, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

$syllabus-manager-primary: mat-palette($pwr-cream-palette);
$syllabus-manager-accent: mat-palette($pwr-red-palette);
$syllabus-manager-warn: mat-palette($mat-deep-orange);
$syllabus-manager-theme: mat-dark-theme((
  color: (
    primary: $syllabus-manager-primary,
    accent: $syllabus-manager-accent,
    warn: $syllabus-manager-warn,
  )
));

@include angular-material-theme($syllabus-manager-theme);

[app-disabled] {
  opacity: 0.96;
  pointer-events: none;
}

html, body, app-root, .app-frame {
  overflow: auto;
  margin: 0;
  height: 100%;
  font-size: 1vw;
  font-family: Yu Gothic, monospace;
  box-sizing: border-box;
  color: #e0e0e0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-header {
  margin-bottom: 20px;

  h1 {
    font-size: 40px;
  }
}

.button-icon {
  margin-right: 5px;
}

.action-button {
  margin: 0 5px;
}

.basic-info-box {
  margin-bottom: 40px;
}

.basic-info {
  font-size: 20px;
  margin-bottom: 20px;

  .title {
    background-color: antiquewhite;
    border-radius: 50px;
    color: brown;
    padding: 2px 7px;
    margin-right: 10px;
  }

  .sub-title {
    background-color: brown;
    border-radius: 50px;
    color: antiquewhite;
    padding: 2px 7px;
    margin: 0 120px 20px 120px;
  }
}

.header-info {
  font-size: 20px;
  margin-bottom: 20px;

  .title {
    background-color: antiquewhite;
    color: brown;
    padding: 2px 7px;
    margin-right: 10px;
  }

  .sub-title {
    background-color: brown;
    color: antiquewhite;
    padding: 2px 7px;
    margin: 0 120px 20px 120px;
  }
}

.round-title {
  background-color: antiquewhite;
  border-radius: 50px;
  color: brown;
  padding: 2px 7px;
  margin-right: 10px;
}

.center-text {
  text-align: center;
}

.panel-tile {
  height: 250px;
  width: 300px;
  background-color: gray;
  padding: 25px;
  font-size: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.material-icons.color_white {
  color: #D8D5CE;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.main-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.21vw;
  color: rgba(28, 30, 35, 1);
  background-color: rgba(28, 30, 35, 1);
  overflow: hidden;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;

  .background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .sub-container {
    z-index: 2;
  }

  h1, h2, h3 {
    font-family: Yu Gothic, monospace;
    font-style: normal;
    white-space: nowrap;
    //letter-spacing: 0.075em;
    color: rgba(241, 239, 236, 1);
  }


  h1 {
    font-size: 3.4519rem;
    line-height: 3.8519rem;
    font-weight: bold;
    color: rgba(241, 239, 236, 1);
  }

  h2 {
    font-size: 1.682em;
    line-height: 1.682em;
    font-weight: lighter;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: bold;
  }

  .dropdown {
    width: 58%;
    font-size: 0.682em;
    color: #f1d1a2;
  }

  button {
    color: #D8D5CE;
    &:disabled {
      color: #707070;
    }
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  background:#222;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #707070;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
